@mixin centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

body {
    background-color: #24292e;
    color: #fff;
    position: relative;
}

header {
    text-align: center;
}

footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: transparent;
    color: white;
    text-align: center;

    ul {
        padding: 0;
        list-style: none;
        font-size: 14px;

        li {
            margin : 20px;
            display: inline-block;

            a {
                text-decoration: none;
                color: #fff;

                &:hover {
                    color: #fff
                }
            }
        }
    }
}

section {
    text-align: center;

    .table-conainer {
        background: url("/images/main-bg.jpg") no-repeat center;
        background-size: cover;
        height: 460px;
        border-radius: 10px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(3, 30%);
        grid-gap: 3%;
        padding-top: 14px;
        padding-left: 98px;

        .round-title {
             @include centerer();
             left: 0;
        }

        .deck-container{
            display: grid;
            grid-template-columns: repeat(5, 105px);
            grid-gap: 2em;
            justify-content: center;
        }

        .win-container{
            display: grid;
            grid-template-columns: repeat(5, 105px);
            grid-gap: 2em;
            justify-content: center;
        }

        .pocket-container {
            display: grid;
            grid-template-columns: repeat(2, 105px);
            grid-gap: 2em;
            justify-content: center;
        }

        .grid-item {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 0.8fr 1fr;
            background-color: white;
            color: black;
            border-radius: 5%;
            box-shadow: 0px 5px 15px grey;
            font-size: 1em;
        }

        .top-left {
            text-transform: uppercase;
        }

        .bottom-right {
            align-self: end;
            transform: rotate(180deg);
            text-transform: uppercase;
        }
    }

    button {
        width: 200px;
        margin: 10px auto;
    }

}
